body {
    padding-top: 60px;
}

#mainContainer {
    overflow: hidden;
}

.sidebar-nav {
    padding: 9px 0;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.ui_icons_table {
    display: inline-block;
    list-style: none outside none;
    margin: 20px 0 10px;
    padding: 0;
    text-align: center;
}

    .ui_icons_table li {
        background-color: #F9F9F9;
        background-image: linear-gradient(to bottom, #FAFAFA 0%, #EDEDED 100%);
        background-repeat: repeat-x;
        border: 1px solid #D9D9D9;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
        display: inline-block;
        line-height: 14px;
        margin: 0 10px 10px;
        padding: 0 10px;
        vertical-align: middle;
    }

    .ui_icons_table li {
        width: 120px;
        min-height: 120px;
    }

        .ui_icons_table li a {
            padding: 5px 5px 5px 5px;
        }

        .ui_icons_table li:hover {
            background-color: #FDFDFD;
            background-image: linear-gradient(to bottom, #FDFDFD 0%, #F5F5F5 100%);
            background-repeat: repeat-x;
        }

    .ui_icons_table li {
        padding: 15px;
    }

        .ui_icons_table li a {
            color: #666666;
            text-align: center !important;
            text-shadow: 0 1px 0 #FFFFFF;
        }

        .ui_icons_table li:active {
            background-image: linear-gradient(to bottom, #EEEEEE 0%, #F4F4F4 100%);
            background-repeat: repeat-x;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
        }

footer {
    color: #777777;
    text-align: center;
}

.loading {
    background: url("../images/loading.gif") no-repeat scroll center 100px #1A1A1A;
    border-radius: 4px;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    width: 99.5%;
    display: none;
    z-index: 1000;
    top: 0;
    right: 0;
}

#rightContent {
    padding-top: 9px;
}

#leftSide .loading {
    right: auto;
    left: 0;
}

#navSearch form {
    margin-bottom: 0;
    margin-top: 6px;
}

.domainmenu .goArrow {
    display: none;
}

.btn {
    margin: 3px;
}

#leftContent .leftlink {
    margin: 4px 7px;
}

.linkwithicon > img {
    float: left;
    margin: 6px 0 0 10px;
}

.aftericon.leftlink {
    float: left;
}

#rightContent, #leftContent {
    min-height: 260px;
}

.innerScroll {
  overflow: auto;
  overflow-x: hidden;
  padding-right: 10px;
}

#headln2r {
  margin-right: 15px;
}

.domainmenu select {
    width: 100% !important;
}

#rightNav {
    float: right;
}

    #rightNav .hiddenTitle {
        display: none;
    }

    #rightNav .hiddenTitle, #rightNav .visibleTitle {
        margin-left: 3px;
    }


@media (max-width: 992px) {
    .innerScroll {
        min-height: 260px;
        max-height: 99999px !important;
        padding-right: 0 !important;
    }

    .loading {
        width: 100%;
    }

    #mainContainer > div {
        margin: 3px 0;
    }
}

@media (max-width: 850px) {
    #navSearch {
        display: none;
    }
}

@media (max-width: 768px) {
    #rightNav {
        float: left;
    }

        #rightNav .hiddenTitle {
            display: inline-block;
        }
}

.form-horizontal .ui_form_pair
{
  margin-left: 0px;
  margin-right: 0px;
}

.ui_form_pair .form-control
{
  display: inline;
  width: auto;
}

.ui_textbox
{
  margin-left: 5px;
  margin-right: 5px;
}

.form-group label
{
  margin: 8px;
}

.ui_form_value
{
  margin-left: 20px;
}

.sidebar .sidebar-nav.navbar-collapse {
  padding-right: 0;
  padding-left: 0;
}
.sidebar .sidebar-search {
  padding: 15px;
}
.sidebar ul li {
  border-bottom: 1px solid #e7e7e7;
}
.sidebar ul li a.active {
  background-color: #eee;
}
.sidebar .arrow {
  float: right;
}
.sidebar .fa.arrow:before {
  content: "\f104";
}
.sidebar .active>a>.fa.arrow:before {
  content: "\f107";
}
.sidebar .nav-second-level li,
.sidebar .nav-third-level li {
  border-bottom: 0!important;
}
.sidebar .nav-second-level li a {
  padding-left: 37px;
}
.sidebar .nav-third-level li a {
  padding-left: 52px;
}
@media(min-width:768px) {
  .sidebar {
    z-index: 1;
    position: absolute;
    width: 250px;
    margin-top: 51px;
  }
}

