body {
    padding-top: 50px;
}

#mainContainer {
    overflow: hidden;
}

.sidebar-nav {
    padding: 9px 0;
}

.container-full {
    margin: 0 auto;
    width: 100%;
}

.ui_icons_table {
    display: inline-block;
    list-style: none outside none;
    margin: 20px 0 10px;
    padding: 0;
    text-align: center;
}

    .ui_icons_table li {
        background-color: #F9F9F9;
        background-image: linear-gradient(to bottom, #FAFAFA 0%, #EDEDED 100%);
        background-repeat: repeat-x;
        border: 1px solid #D9D9D9;
        border-radius: 4px 4px 4px 4px;
        box-shadow: 0 1px 0 0 #FFFFFF inset, 0 1px 0 rgba(255, 255, 255, 0.4);
        display: inline-block;
        line-height: 14px;
        margin: 0 10px 10px;
        padding: 0 10px;
        vertical-align: middle;
    }

    .ui_icons_table li {
        width: 120px;
        min-height: 120px;
    }

        .ui_icons_table li a {
            padding: 5px 5px 5px 5px;
        }

        .ui_icons_table li:hover {
            background-color: #FDFDFD;
            background-image: linear-gradient(to bottom, #FDFDFD 0%, #F5F5F5 100%);
            background-repeat: repeat-x;
        }

    .ui_icons_table li {
        padding: 15px;
    }

        .ui_icons_table li a {
            color: #666666;
            text-align: center !important;
            text-shadow: 0 1px 0 #FFFFFF;
        }

        .ui_icons_table li:active {
            background-image: linear-gradient(to bottom, #EEEEEE 0%, #F4F4F4 100%);
            background-repeat: repeat-x;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2) inset, 0 1px 0 rgba(255, 255, 255, 0.4);
        }

.loading {
    background: url("../images/loading.gif") no-repeat scroll center 100px #1A1A1A;
    height: 100%;
    opacity: 0.3;
    position: absolute;
    width: 99.5%;
    display: none;
    z-index: 1000;
    top: 0;
    right: 0;
}

#rightContent {
    //padding: 0px, 10px, 10px, 0px;
    padding-left: 0px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

#leftSide .loading {
    right: auto;
    left: 0;
}

#leftSide {
    background-color: #F4F4F4;
    box-shadow: 3px 0px 2px 2px rgba(0, 0, 0, 0.07);
}

#leftSide.col-md-3 {
  padding: 0px;
}

#rightSide.col-md-9 {
  padding-right: 0px;
}

#navSearch form {
    margin-bottom: 0;
    margin-top: 6px;
}

.domainmenu .goArrow {
    display: none;
}

.btn {
    margin: 3px;
}

.aftericon.leftlink {
    float: left;
}

#rightContent, #leftContent {
    min-height: 260px;
}

.innerScroll {
  overflow: auto;
  overflow-x: hidden;
}

#headln2r {
  margin-right: 15px;
}

.domainmenu select {
    width: 100% !important;
}

#rightNav {
    float: right;
}

#rightNav .hiddenTitle {
    display: none;
}

#rightNav .hiddenTitle, #rightNav .visibleTitle {
    margin-left: 3px;
}


@media (max-width: 992px) {
    .innerScroll {
        min-height: 260px;
        max-height: 99999px !important;
        padding-right: 0 !important;
    }

    .loading {
        width: 100%;
    }

    #mainContainer > div {
        margin: 3px 0;
    }
}

@media (max-width: 850px) {
    #navSearch {
        display: none;
    }
}

@media (max-width: 768px) {
    #rightNav {
        float: left;
    }

        #rightNav .hiddenTitle {
            display: inline-block;
        }
}

.form-horizontal .ui_form_pair
{
  margin-left: 0px;
  margin-right: 0px;
}

.ui_form_pair .form-control
{
  display: inline;
  width: auto;
}

.ui_textbox
{
  margin-left: 5px;
  margin-right: 5px;
}

.form-group label
{
  margin: 8px;
}

.ui_form_value
{
  margin-left: 20px;
}

/*
    Component: Sidebar
--------------------------
*/
.sidebar {
  margin-bottom: 5px;
}
.sidebar .sidebar-form input:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: transparent!important;
}
.sidebar .sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-menu > li {
  margin: 0;
  padding: 0;
}
.sidebar .sidebar-menu li > a {
  padding: 12px 5px 6px 15px;
  display: block;
}
.sidebar .sidebar-menu li .treeview-menu {
  margin: 0 1px;
  background: #f9f9f9;
}
.sidebar a:hover {
  text-decoration: none;
}
.sidebar ul {
  font-size: 14px;
}
.sidebar .treeview li {
  font-size: 14px;
}
.sidebar .leftlink .linkwithicon a {
  padding: 5px 5px 5px 15px;
  font-size: 14px;
}
.sidebar .leftlink .linkwithicon a.active {
  background: #f9f9f9;
}
.sidebar .sidebar-menu > li > a > .fa,
.sidebar .sidebar-menu > li > a > .glyphicon,
.sidebar .sidebar-menu > li > a > .ion {
  width: 20px;
}
.sidebar .sidebar-menu .treeview-menu {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar .sidebar-menu .treeview-menu > li {
  margin: 0;
}
.sidebar .sidebar-menu .treeview-menu > li > a {
  padding: 5px 5px 5px 15px;
  display: block;
  font-size: 14px;
  margin: 0px 0px;
}
.sidebar .sidebar-menu .treeview-menu > li > a .fa,
.sidebar .sidebar-menu li.treeview a .glyphicon,
.sidebar a .glyphicon,
.sidebar .sidebar-menu .treeview-menu > li > a .ion {
  width: 20px;
  line-height: 1.2;
  font-size: 15px;
}

.sidebar .sidebar-menu li a {
  margin-right: 1px;
}
.sidebar .sidebar-menu li a:hover,
.sidebar .sidebar-menu li.active a {
  background: #f9f9f9;
}

.sidebar-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}

@media(min-width:768px) {
  .sidebar {
    z-index: 1;
  }
}

