ui_hidden
{
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}

ui_hidden
{
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Example";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}
.linkwithicon {
  position: relative;
  white-space: nowrap;
  left: 2px;
  width: 16px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.linkwithicon img, .mode img {
  margin-bottom: -2px;
}
.aftericon {
  display: inline;
}
.ui_form label
{
  display:inline-block;
}
